
* {
  margin: 0px; 
  padding: 0px;
  box-sizing: border-box;
}



h2 {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1rem;
  color: skyblue;
}

.autInp {
  width:100%;
}


/* img {
  height: 12.8rem;
  width: 12.8rem;
  position: absolute;
  top: 15%;
  left: 30%; 
  border-top-right-radius: 1rem; 
  border-bottom-left-radius: 0.5rem;
}  */

hr {
  margin: 0.5rem;
  border: 0.3rem solid #fad2b0;
  border-radius: 0.5rem;
}

.doctor-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0rem !important;
  margin-top: 1.6rem;
  font-size: 14px !important;

} 

.PreForm {
  margin-top: 20px;
}


@media screen and (max-width : 918px){
  .prescription-view {
    margin:0px !important;
}
  
  .profession {
    /* margin-top:20px; */
    margin-bottom:40px;
  }
  
  .aakar-logo {
    left:80px;
    margin-bottom: 20px;
  }

} 
.doctor-info span {
  font-size: 2rem;
  font-weight: 700;
  color: #5c8ab8;
  margin-bottom: 1rem;
}
@media screen and (max-width:1300px) {
  .content {
    padding: 10px 10px !important;
  }  
}
   
num {
  color: #555;
  font-weight: 600;
}

.profession span {
  text-decoration: underline #5c8ab8;
}


.react-draggable .react-draggable-dragged{
  height:60px !important;
  padding: 0px ;
  margin: 0px;
}
@media only screen and (max-width:510px) {
  .prescription-form ,.prescription-view,.content{
      padding: 0px !important;
      
  } 
  .content{
    margin: 0px !important;
    
  }
  .description{
    padding: 0px !important;
    margin: 0px !important  ;
  }
  .aakar-logo{
    width: 200px !important  ;
  }
  /* body{
    padding: 0px !important;
  } */
  * {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width:950px) {
  .prescription-form ,.prescription-view{
      padding: 5px !important;
      
  } 
  .content{
    margin: 0px !important;
  }
  .aakar-logo{
    width: 360px;
  }
  /* body{
    padding: 0px !important;
  } */
}

@import "sheets-of-paper.css";

.page {
    border : 2px solid red;
     
	/* Styles for better appearance on screens only -- are reset to defaults in print styles later */

	/* Reflect the paper width in the screen rendering (must match size from @page rule) */
	width: 21cm;
	/* Reflect the paper height in the screen rendering (must match size from @page rule) */
	min-height: 29.7cm;

	/* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
	padding-left: 2cm;
	padding-top: 2cm;
	padding-right: 2cm;
	padding-bottom: 2cm;
}
/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
@page {
	/* You can only change the size, margins, orphans, widows and page breaks here */

	/* Paper size and page orientation */
	size: A4 portrait;

	/* Margin per single side of the page */
	margin-left: 2cm;
	margin-top: 2cm;
	margin-right: 2cm;
	margin-bottom: 2cm;
}