.view-data-button {
    text-decoration: none;
    padding: 8px;
    border: 1px solid black;
    box-shadow: 1px 2px 5px grey;
    margin-top:20px;
}

@media screen and (max-width : 408px){
    
}
.password-container {
    margin: 10px 100px;

}
.prescription-form{
    /* border: 1px solid blue; */
    padding:30px 100px;
}
.inp{
    border: 1.1px solid #fc8019;
    
   
}
.alert-heading {
    text-align: center;
}